
/* Page Styling
================ */

    /* IMPORTS
    ========== */

        /* Google Webfonts */

            @import url('https://fonts.googleapis.com/css?family=Alata|Open+Sans&display=swap');
            /*
                font-family: 'Alata', sans-serif;
                font-family: 'Open Sans', sans-serif;
            */

    /* PRIMARY STYLING
    ================== */

        * {
            font-family: 'Open Sans', sans-serif;

            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }

        html, body {
            width: 100%;
        }

        .site-wrapper {
            background: skyblue;

            width: 1080px;
            margin: 0 auto;
        }

            header, section, footer {
                margin: 0 32px;
            }

            .site-header {
                text-align: center;
            }

            .site-section {
                background: orange;
            }

                .site-section#type-list ul {
                    list-style: none;
                }

                    .site-section#type-list ul:after {
                        display: block;
                        content: '';
                        clear: both;
                    }

                    .site-section#type-list ul li {
                        background: #FFF;
                        font-family: 'Alata', sans-serif;
                        font-size: 1.1em;
                        font-weight: 700;
                        overflow: hidden;
                        text-align: center;

                        width: 11.11%;
                        padding: 6px 0px;
                        float: left;
                    }

                        .site-section#type-list ul li:before {
                            content: 'I';
                            background: pink;

                            width: 30%;
                            margin-left: -3%;
                            float: left;
                            transform: skew(-15deg, 0deg);
                        }

        