

@import url('https://fonts.googleapis.com/css?family=Alata|Poppins|Reem+Kufi&display=swap');

/*
    font-family: 'Alata', sans-serif;
    font-family: 'Reem Kufi', sans-serif;
    font-family: 'Poppins', sans-serif;
*/